* {
	box-sizing: border-box;
	margin: 0;
}

.main {
	display: flex;
	padding-right: 1.5rem;
	flex-direction: column;
	align-items: flex-end;
	background-color: #a9def9;
	min-height: 100vh;
}

.chart {
	width: 800px;
	background-color: #fff;
	margin: 1rem;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 20px -5px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 8px 20px -5px rgba(66, 68, 90, 1);
	box-shadow: 0px 8px 20px -5px rgba(66, 68, 90, 1);
}
